name : Docker-CI
trigger:
  branches:
    include:
      - master
pool:
  vmImage: 'ubuntu-latest'
variables:
  Version: '1.0.$(Build.Buildid)'
stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: DockerImages
    displayName: Build and push Docker images
    steps:
    - task: Docker@2
      displayName: 'Build & push hacher images'
      inputs:
        containerRegistry: 'connexion-docker-hub'
        repository: rabah945/hacher
        Dockerfile: hasher/Dockerfile
        tags: '$(Version)'

    - task: Docker@2
      displayName: 'Build & push rng image'
      inputs:
        containerRegistry: 'connexion-docker-hub'
        repository: rabah945/rng
        Dockerfile: rng/Dockerfile
        tags: '$(Version)'

    - task: Docker@2
      displayName: 'Build & push webui image'
      inputs:
        containerRegistry: 'connexion-docker-hub'
        repository: rabah945/webui
        Dockerfile: webui/Dockerfile
        tags: '$(Version)'

    - task: Docker@2
      displayName: 'Build & push worker image'
      inputs:
        containerRegistry: 'connexion-docker-hub'
        repository: rabah945/worker
        Dockerfile: worker/Dockerfile
        tags: '$(Version)'
